 <section id="Products">
    <h1> Products</h1>
    <div class="product-container">
      <!-- p1-->
      <div class= "product-card">
 <img src="../public/images/skincare.png"/>
 <div class="product-content">
    <h3>Skin Serum</h3>
    <p> Upcoming prices €15 / £12</p>
 </div>
</div>
      <!-- p2-->
   <div class= "product-card">
  <img src="../public/images/lipstick.png"/>
 <div class="product-content">
    <h3>Lipstick</h3>
    <p> Upcoming prices €15 / £12</p>
   
 </div>
</div>
      <!-- p3-->
   <div class= "product-card">
  <img src="../public/images/skinset.png"/>
 <div class="product-content">
    <h3>Skin Care Set</h3>
    <p> Upcoming prices €15 / £12</p>
    
 </div>
</div>

      <!-- p4-->
   <div class= "product-card">
   <img src="../public/images/eyeshadow.png" />
 <div class="product-content">
  <h3>Eyeshadows</h3>
    <p> Upcoming prices €15 / £12</p>

 </div>
</div>
      <!-- p5-->
   <div class= "product-card">
 <img src="../public/images/foundationsurface.png" />
 <div class="product-content">
  <h3>Foundation </h3>
    <p> Upcoming prices €15 / £12</p>

 </div>
</div>
      <!-- p6-->
   <div class= "product-card">
  <img src="../public/images/perfume.jpg"/>
 <div class="product-content">
  <h3>Perfume</h3>
    <p> Upcoming prices €15 / £12</p>
   
 </div>
</div>

   </section>
