---

import Reviewjs from '../components/reviewjs.js';
---

<!-- REVIEW 2 SWIPER Please Note to drag reviews if you want to break auto loop-->

  <!--reviews section -->
<section id="Reviews">
  <section class="reviews-container">
  <h2 class="review-title">Customer Reviews</h2>
  <div class="review-swiper container swiper">
    <div class= "review-swiper-wrapper swiper-wrapper">
      <!--customer 1 -->
      <article class="review-card swiper-slide">
       <img src="Jessicafinal.github.io/public/images/customer1.jpg" alt="customer1" class="review-img" width="350px" height="200px">
       <h3 class="Review-name">Erin <br>35, Co. Mayo</br></h3>


       <div class="rates">
        <div class="stars">
          <i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
        </div>
       </div>


       <p class="review-text">"I love the SurFACE, all the products are great and affordable. I am so excited when this the brand launches online"</p>
      </article>




<!--customer 2 -->
        <article class="review-card swiper-slide">
       <img src="Jessicafinal.github.io/public/images/customer2.jpg" alt="customer2" width="350px" height="200px">
       <h3 class="Review-name">Michelle<br>27, Co.Galway</br></h3>


       <div class="rates">
        <div class="stars">
          <i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
        </div>
       </div>


       <p class="review-text">"I found this hidden gem on my visit to Mayo, the skin serum they recommended was really good and now my skin is so smooth. 10/10 would recommend if you are living here"</p>
      </article>


<!--customer 3 -->
        <article class="review-card swiper-slide">
       <img src="Jessicafinal.github.io/public/images/customer3.jpg" alt="customer3" width="350px" height="200px">
       <h3 class="Review-name">Orla<br>29, Co. Sligo</br></h3>


       <div class="rates">
        <div class="stars">
          <i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
        </div>
       </div>


       <p class="review-text">"The staff are so helpful and the products are lovely. Great place to get gifts and bundles for any event"</p>
      </article>




      <!--customer 4 -->
       <article class="review-card swiper-slide">
       <img src="Jessicafinal.github.io/public/images/customer4.jpg" alt="customer4" width="350px" height="200px">
       <h3 class="Review-name">Claire<br>19, Co.Dublin</br></h3>


       <div class="rates">
        <div class="stars">
          <i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
        </div>
       </div>


       <p class="review-text">"Absolutley love this place and will be placing orders once they are launched for the online store"</p>
      </article>
    </div>
  <!-- swiper pagination -->
  <div class="swiper-pagination"></div>


    <!-- swiper navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
      
  <Reviewjs />    