<!----MAIN LAYOUT PAGE-->
  <section id="main page ">
    <div class="main conatiner-fluid mt-2 px-3">
  <div class="main-page-text">
    <h1> Welcome to the
      <span>SurFACE</span></h1>
  <span>New Beauty Brand</span>
  <p>We are an animal cruelty free and vegan beauty company based in Co. Mayo.
</p>
   
    <span> Our mission</span>
    <p> to make you feel beautiful in your own skin and this is how we got the inspiration from the brand name The SurFACE.
    We have a range of new and upcoming beauty products and skin care products for all skin types!</p>

 <button type="button"
onclick="document.getElementById('Launch date').innerHTML = new Date('January 1, 2026');">
        <p>Click for Launch date </button>
        <p id="Launch date"></p></div>
 
  </section>



 <!-- BOOTSRAP MODIFYING AS THE LAUNCH DATE IS NOT REPOSNIVE ON CSS ALONE WITH CHANGES AND ADJUSTMENTS -->
  <div class="time-container-fluid ">Launching Soon!
    <div class="launch-time">
    <div>
    <p id="days">00</p>
    <span> Days</span>
  </div>
    <div>
    <p id="hours">00</p>
    <span> Hours</span>
  </div>
    <div>
    <p id="minutes">00</p>
    <span> Minutes</span>
  </div>
    <div>
    <p id="seconds">00</p>
    <span> Seconds</span>
  </div>
</div>
<script>
var countDownDate= new Date("Jan 1, 2026  00:00:00").getTime();
var x = setInterval(function(){
  var now = new Date().getTime();
  var distance= countDownDate - now;


  var days= Math.floor (distance / (1000 *60 *60 *24));
  var hours= Math.floor ((distance % (1000 *60 *60 *24)) / (1000 *60 *60));
  var minutes=Math.floor ((distance % (1000 *60 *60)) / (1000 *60));
  var seconds= Math.floor ((distance % (1000 *60)) /1000);

const el = document.getElementById("days").innerHTML = days;
   document.getElementById("hours").innerHTML = hours;
    document.getElementById("minutes").innerHTML = minutes;
     document.getElementById("seconds").innerHTML = seconds;


     if(distance <0){
      clearInterval(x);
  document.getElementById("days").innerHTML = 00;
   document.getElementById("hours").innerHTML = 00;
    document.getElementById("minutes").innerHTML = 00;
     document.getElementById("seconds").innerHTML = 00;


     }


},1000);
  </script>
</div>
  </div>